#root {
  width: 100%;
  height: 100%;

  @media (max-width: 428px) {
    width: 100%;
  }

}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 428px) {
    overflow: hidden;
    justify-content: center;
  }

}