.game {
    background-image: url('../assets/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top-hand {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 45%;

        .paper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15.5rem;
            height: 15rem;
            background: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
            border-radius: 100%;
            border-bottom: rgba(0, 0, 255, 0.5) 10px solid;

            .inner-paper {
                width: 11.5rem;
                height: 11rem;
                background-color: #f1f1f1;
                background-image: url('../assets/images/icon-paper.svg');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                border-top: 10px rgba(128, 128, 128, 0.5) solid;
            }
        }

        .scissors {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15.5rem;
            height: 15rem;
            background: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
            border-radius: 100%;
            border-bottom: rgba(187, 121, 0, 1) 10px solid;

            .inner-scissors {
                width: 11.5rem;
                height: 11rem;
                background-color: #f1f1f1;
                background-image: url('../assets/images/icon-scissors.svg');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                border-top: 10px rgba(128, 128, 128, 0.5) solid;
            }
        }
    }

    .bottom-hand {
        .rock {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15.5rem;
            height: 15rem;
            background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
            border-radius: 100%;
            border-bottom: hsl(349, 80%, 46%) 10px solid;

            .inner-rock {
                width: 11.5rem;
                height: 11rem;
                background-color: #f1f1f1;
                background-image: url('../assets/images/icon-rock.svg');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 100%;
                border-top: 10px rgba(128, 128, 128, 0.5) solid;
            }
        }
    }
}