.rules {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .my-button {
        width: 8rem;
        height: 2rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: large;
        border: 2px solid hsl(217, 16%, 45%);
        color: #f1f1f1;
        cursor: pointer;

        &:hover {
            background-color: hsl(237, 48%, 9%);
        }
    }

    .container {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.507);
        transition: display 200ms ease-out;

        .rules-container {
            background-color: #f1f1f1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30rem;
            height: 30rem;
            border-radius: 16px;
            padding: 2rem;

            .rules-header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    margin: 0;
                    color: hsl(229, 25%, 31%);
                }

                .close {
                    width: 2rem;
                    height: 2rem;
                    background-image: url('../assets/images/icon-close.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;
                }
            }

            .rules-item {
                background-image: url('../assets/images/image-rules.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 100%;
            }

        }

    }
}